  {% extends 'base_profile.html' %}

  {% block title %}main{% endblock %}
  {% block content %}
      <h2>Что вы хотите выставить?</h2>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingPassword" name="title" placeholder="title">
    <label for="floatingInput">title</label>
  </div>

  <div class="form-floating">
    <input type="file" class="form-control" id="floatingPhoto" name="photo">
    <label for="floatingPhoto">photo</label>
  </div>

  <button type="submit">Сохранить</button>
</form>
  {% endblock %}