{% extends 'base_profile.html' %}

{% block title %}{{ user.username}}{% endblock %}
{% block content %}

{% load static %}


<style>
    .user_information {
        padding: 5px;
    }
</style>





<h1>{{ username }}</h1>
<div class="d-flex  p-3 my-3  bg-purple rounded shadow-sm">
{% if user_info.image %}
  <div>
        <img src="{{ user_info.image.url }}" alt="Post Image" width="200" height="200" style="border-radius: 50%;">
    </div>
{% endif %}
<div class="user_information">
    <h6> Город - {{ user_info.city }}</h6>
    <h6> Лет - {{ user_info.years }}</h6>
    <h6> Статус - {{ user_info.status }}</h6>
    <h6> Информация обо мне - {{ user_info.about_user }}</h6>
    <h6> <a href="{% url 'profiles:friends' username=username %} ">Друзей</a> - {{ user_info.friends.count }}</h6>


    {% if not is_current_user %}
        {% if is_subscribed %}
            <form method="post" action="{% url 'profiles:unsubscribe' username=username %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" data-username="{{ username }}">Отписаться</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'profiles:subscribe' username=username %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" data-username="{{ username }}">Подписаться</button>
            </form>
        {% endif %}
    {% endif %}



</div>
</div>







{% for b in blog %}
<div class="blog">


    <a href="#" class=" align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="{{ user_info.image.url }}" alt="Post Image" width="50" height="50" style="border-radius: 50%;">
        <span class="fs-4">{{ b.user }}</span>
    </a>

    <h6>{{ b.title }}</h6>

    {% if b.image %}
        <img src="{{ b.image.url }}" alt="Post Image" width="400" height="400" style="border-radius: 10%;">
    {% endif %}
    <p>likes: {{ b.likes }}</p>
    <p>date - {{ b.date }}</p>
    <form method="post" action="{% url 'profiles:handle_like' username=request.user %}">

        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ b.id }}">
        {% if user in b.liked_users.all %}
            <button type="submit" name="action" value="unlike" class="btn btn-primary rounded-pill px-3">Unlike</button>
        {% else %}
            <button type="submit" name="action" value="like" class="btn btn-primary rounded-pill px-3">Like</button>
        {% endif %}
    </form>
    <br><br>
</div>

{% endfor %}
  {% endblock %}