
{% extends 'base_profile.html' %}

{% block content %}

<style>
    .music {
     margin-left: 220px;
     padding: 50px;

    }
</style>
<a class='btn btn-primary' href="{% url 'music:song_upload' %}">Загрузить свою песню</a>
    <div class="music">
  <ul>
  {% for song in songs %}
      <li>{{ song.title }} - {{ song.artist }}</li>
      <audio class='song-player' id="player" controls src="{{ song.audio_file.url }}"></audio>
    <a href="{% url 'music:add_user_song' i=song.id %}">Добавить</a>
      <br>
  {% endfor %}
  </ul>

</div>
<script>
const audioElements = document.querySelectorAll('.song-player');

audioElements.forEach((audio) => {
  audio.addEventListener('play', (event) => {
    audioElements.forEach((otherAudio) => {
      if (otherAudio !== audio) {
        otherAudio.pause();
        otherAudio.currentTime = 0; // Reset the current time to start from the beginning
      }
    });
  });
});
</script>

{% endblock %}