{% extends 'base_profile.html' %}

{% block content %}


<style>

    video {
      position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    }


    .video-wrapper {
    position: relative;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    }

    .video-title {
        font-size: 14px;
        text-align: center;
        margin-top: 8px;
    }
    .video-description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 8px;
        font-size: 12px;
    }

        .full-screen {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: #000000;
    }

    .full-screen video {
        width: 50%;
        height: 50%;
    }
</style>





{% for video in user_info.video.all %}
    <video src="{{ video.video_file.url }}" controls onclick="toggleFullScreen(this)" onended="exitFullScreen(this)"></video>
    <form method="POST" action="{% url 'video:delete_user_video' i=video.id %}">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
{% endfor %}



<script>
    function toggleFullScreen(video) {
        video.classList.toggle("full-screen");
    }

    function exitFullScreen(video) {
        video.classList.remove("full-screen");
    }
</script>


{% endblock %}