  {% extends 'base.html' %}

  {% block title %}{{ user.username}}{% endblock %}
  {% block content %}

{% load static %}
{% if avatar %}
    <img src="{{ avatar }}" alt="Avatar" width="200" height="200">
{% endif %}
      <a href="{% url 'edit_profile' username=user.username %}" class="btn btn-primary rounded-pill px-3">edit profile</a>
      <a href="{% url 'edit_post' username=user.username %}" class="btn btn-primary rounded-pill px-3">edit post</a>
      {% for b in blog %}
          <div class="text-center">
              <a href="#">{{ b.user }}</a>
              <h6>{{ b.title }}</h6>
              {% if b.image %}
                <img src="{{ b.image.url }}" alt="Post Image" width="200" height="200">
              {% endif %}
              <p>likes: {{ b.likes }}</p>
              <p>date - {{ b.date }}</p>
          </div>
      {% endfor %}
  {% endblock %}